/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;

}


:root {
    /*primary colors*/
    --very-dark-blue:hsl(233, 47%, 7%); /*(main background)*/ 
    --dark-saturated-blue: hsl(244, 38%, 16%); /*(card background)*/
    --soft-violet: hsl(277, 64%, 61%); /*(accecnt)*/

    /*Neutral colors*/
    --white: hsl(0, 0%, 100%); /*(main heading, stats)*/
    --slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.6); /*(stat headings)*/

}

body{ 
    width: 100%;
    height: 100vh;
    font-size: 0.9375rem;
    background-color: var(--very-dark-blue);
}

.container {
    max-width: 69.4rem;
    min-height: 100vh;
    padding: 5rem 1.5rem;
    margin: auto;
}


.img_wrapper {
    background-color: var(--soft-violet);
    height: 15rem;
    width: 20.4rem;
    margin: auto;
    border-radius: 0.4rem 0.4rem 0 0;
}

.img_header {
    background: url(https://user-images.githubusercontent.com/49578782/126853933-8d228c1b-ed85-4bf7-a374-d464b2774bb3.jpg) center/cover no-repeat;
    display: block;
    mix-blend-mode: multiply;
    opacity: 0.78;
    height: 100%;
    width: 100%;
}


.card {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background: var(--dark-saturated-blue);
    width: 20.4rem;
    margin: auto;
    border-radius: 0 0 0.4rem 0.4rem;
    padding: 0 2.25rem;
}

.card_title {
    color: var(--white);
    font-size: 1.7rem;
    font-weight: 700;
    font-family: Inter, sans-serif;
    margin-top: 2.56rem;
    margin-bottom: 1.3rem;
    text-align: center;
    line-height: 1.2;
}

.card_title span {
    color: var(--soft-violet);
}

.card_content {
    font-family: Lexend Deca, sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--slightly-transparent-white-p);
    text-align: center;
    line-height: 1.6;
    opacity: 0.85;
    margin-bottom: 2rem;
}

.stats {
    display: block;
    margin: auto;
}

.stats li {
    font-size: 1.3rem;
    color: var(--white);
    font-weight: 700;
    padding-bottom: 0.65rem;
    font-family: Inter, sans-serif;
    text-align: center;
}

.stats_item {
    display: block;
    margin-bottom: 2.4em;
    text-align: center;
    color: var(--slightly-transparent-white);
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    padding-top: 0.7rem;
    opacity: 0.85;   
    font-size: 0.7rem; 
}

.attribution {
    font-size: 0.68rem;
    text-align: center;
    color: var(--white);
    padding-bottom: 1rem;
}

.attribution a {
    color: var(--soft-violet)
}


@media (min-width: 56.25rem){
    .container {
        display: flex;
        flex-direction: row-reverse;
        margin: auto;
    }

    .card {
        min-height: 28rem;
        min-width: 35.5rem;
        border-radius: 0.4rem 0 0 0.4rem;
        padding-left: 4.5rem;
        padding-right: 6.62rem;
    }

    .card_title {
        font-size: 2.24rem;
        margin-top: 5rem;
    }

    .img_wrapper{
        border-radius: 0 0.4rem 0.4rem 0 ;
        min-height: 28rem;
        min-width: 33.9rem;
    }

    .img_header {
        background: url(https://user-images.githubusercontent.com/49578782/126853951-933e9003-02a0-4998-906e-1c4c95dca4b8.jpg) center/cover no-repeat;
    }

 
    .card_title, .card_content  {
        text-align: left;
    }

    .stats {
        display: inline-flex;
    }

    .stats li {
       padding-right: 4.1rem;
       text-align: left;
       padding-bottom: 0;
       font-size: 1.5rem;
    }

    .stats_item {
        font-size: 0.78rem;
    }

}
